{{page-title (concat "Player " @model.name)}}
{{!-- {{log @model}} --}}
{{#if @model}}
  <h4>{{@model.name}}</h4>
  <p>Role: {{@model.role}}</p>
  <p>Matches Played: {{@model.matches}}</p>
  <p>Stats</p>
  <table class="player-stats">
    <tr>
      <th>Won</th>
      <th>Lose</th>
    </tr>
    <tr>
      <td>{{@model.stats.won}}</td>
      <td>{{@model.stats.lose}}</td>
    </tr>
  </table> 
  <button type="button" {{on 'click' this.backToTeam}}>Back</button>
{{else}}
  <p>No Player Found</p>
  <LinkTo @route='team'>Back To Team</LinkTo>
{{/if}}
{{outlet}}