{{page-title (concat "Match " this.model.no)}}
{{!-- {{log this.model}} --}}
<div class="match">
  <h3>Match {{this.model.no}}</h3>
  <LinkTo @route="team" @model={{this.model.team1_id}} class="team-name-link"><span>{{this.model.team1_name}}</span></LinkTo>
  <p>VS</p>
  <LinkTo @route="team" @model={{this.model.team2_id}} class="team-name-link"><span>{{this.model.team2_name}}</span></LinkTo>
  <p>Venue: <b>{{this.model.venue}}</b></p>
  <p>Date: <b>{{this.model.date}}</b></p>
  <p>Time: <b>{{this.model.time}}</b></p>
</div>
{{outlet}}