{{page-title (concat "Match " @model.no)}}
{{!-- {{log @model}} --}}
{{#if @model}}
<div class="match">
  <h3>Match {{@model.no}}</h3>
  <LinkTo @route="team" @model={{@model.team1_id}} class="team-name-link"><span>{{@model.team1_name}}</span></LinkTo>
  <p>VS</p>
  <LinkTo @route="team" @model={{@model.team2_id}} class="team-name-link"><span>{{@model.team2_name}}</span></LinkTo>
  <p>Venue: <b>{{@model.venue}}</b></p>
  <p>Date: <b>{{@model.date}}</b></p>
  <p>Time: <b>{{@model.time}}</b></p>
</div>
{{else}}
  <p>No Match Found</p>
  <LinkTo @route='matches'>Back To Matches</LinkTo>
{{/if}}
{{outlet}}